body {
    position: relative;
    font-family: Lato, "PingFang SC", "Microsoft YaHei", sans-serif!important;
    font-size: 16px!important;
    line-height: 1.8!important;
    color: #fff!important;
    background: #424f63!important;
}

.backend-content-main{
    position:fixed;left:0px;top:0px;width:100%;height:100%;
}
.backend-content-left{
    position:absolute;width:300px;top:0px;bottom:0px;
}
.backend-content-right{
    position:absolute;overflow-y:scroll;left:300px;right:0px;top:0px;bottom:0px;padding:0px;background: #eff0f4;color:#555;
}

.custom-nav{
    padding:0px;
}

.custom-nav > li{
    padding-left:18px;
    height:44px;
}

.custom-nav > li.active{
    background-color: #353f4f;
}

.custom-nav > li:hover{
    background-color: #353f4f;
}

.custom-nav > li > a{
    height:44px;
    line-height: 44px;
    
    /*padding-top:14px;
    padding-bottom:14px;*/
    font-size:16px;
    color:#fff;
    text-decoration: none;
    display: inline-block;
    width:100%;
}

.custom-nav > li.active > a{
    background-color: #353f4f;
    color: #65cea7;
    text-decoration: none;
}

.custom-nav > li:hover > a{
    background-color: #353f4f;
    color: #65cea7;
    text-decoration: none;
}



.custom-nav > li.hover > a{
    background-color: #353f4f;
    color: #65cea7;
    text-decoration: none;
}

.toolbarbtn{
    display:inline-block;
    height:100%;
    padding-top:12px;
    padding-bottom:12px;
    padding-left:10px;
    padding-right:10px;
    color:#333;
    cursor: pointer;
}

.toolbarbtn:hover{
    color:#fff;
    background-color:#353f4f;
    text-decoration: none;
}

.page-heading {padding: 15px;position: relative;}
.page-heading h3{ color: #49586e;font-size: 25px;font-weight: normal;margin: 10px 0; }
.page-heading .breadcrumb {padding: 0;margin: 0;background: none;}
.page-heading .breadcrumb li.active {color: #65CEA7;}
.breadcrumb>li {display: inline-block;}

.panel-heading {border-bottom: 1px dotted rgba(0, 0, 0, 0.2);padding: 15px;text-transform: uppercase;color: #535351;font-size: 14px;font-weight: bold;}
